@keyframes shakeRotate {
    0% {
      transform: translateX(0) rotate(0deg);
    }
    25% {
      transform: translateX(-5px) rotate(-10deg);
    }
    50% {
      transform: translateX(5px) rotate(10deg);
    }
    75% {
      transform: translateX(-5px) rotate(-10deg);
    }
    100% {
      transform: translateX(0) rotate(0deg);
    }
  }
  
  
  .navbar-logo {
    max-width: 100px;
    margin: 10px 20px 10px;
    transition: transform 0.2s ease-in-out; /* Aggiungi una transizione per un effetto più fluido */
  }
  
  .navbar-logo:hover {
    animation: shakeRotate 0.5s; /* Applica l'animazione shake al passaggio del mouse */
  }
  