body {
	background-color: #6890F0 !important;
}

.img-detail {
    width: 85%;
}

.type-normal {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #A8A878;
	/* Colore per il tipo Normale */
}

.type-fighting {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #C03028;
	/* Colore per il tipo Lotta */
}

.type-flying {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #A890F0;
	/* Colore per il tipo Volante */
}

.type-poison {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #A040A0;
	/* Colore per il tipo Veleno */
}

.type-ground {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #E0C068;
	/* Colore per il tipo Terra */
}

.type-rock {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #B8A038;
	/* Colore per il tipo Roccia */
}

.type-bug {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #A8B820;
	/* Colore per il tipo Coleottero */
}

.type-ghost {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #705898;
	/* Colore per il tipo Spettro */
}

.type-steel {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #B8B8D0;
	/* Colore per il tipo Acciaio */
}

.type-fire {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #F08030;
	/* Colore per il tipo Fuoco */
}

.type-water {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #6890F0;
	/* Colore per il tipo Acqua */
}

.type-grass {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #78C850;
	/* Colore per il tipo Erba */
}

.type-electric {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #F8D030;
	/* Colore per il tipo Elettro */
}

.type-psychic {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #F85888;
	/* Colore per il tipo Psico */
}

.type-ice {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #98D8D8;
	/* Colore per il tipo Ghiaccio */
}

.type-dragon {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #7038F8;
	/* Colore per il tipo Drago */
}

.type-dark {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #705848;
	/* Colore per il tipo Buio */
}

.type-fairy {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #F0A0A0;
	/* Colore per il tipo Folletto */
}

.type-stellar {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #C6A24C;
	/* Colore per il tipo Stellare */
}

.type-unknown {
	padding: 0px 10px 0px;
	margin: 0px 5px 0px;
	min-height: 15px !important;
	border-radius: 3px;
	background-color: #6D6D6D;
	/* Colore per il tipo Sconosciuto */
}

.navigation {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #b3b3b3;
	padding: 10px;
	border-radius: 10px;
  }
  
  .nav-button {
	display: flex;
	align-items: center;
  }
  
  .nav-button button {
	background: none;
	border: none;
	font-size: 1.2em;
	font-weight: bold;
	display: flex;
	align-items: center;
	cursor: pointer;
	color: #3d3d3d;
  }
  
  .nav-button button span:first-child {
	margin-right: 8px;
  }
  
  .nav-button.prev button span:first-child {
	margin-left: 8px;
	order: 2;
  }
  
  .nav-button.prev button span:last-child {
	order: 1;
  }
  
  .nav-button button:hover {
	color: #000;
  }
  
  .pokemon-name {
	font-size: 1.5em;
	font-weight: bold;
  }
  